@import './theme.css';

body {
  margin: 0;
  background-color: var(--bg-app);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-family-mono);
}
